# This file is where you keep secret settings, passwords, and tokens!
# Copy this to secrets.py and fill in your actual values

secrets = {
    'ssid' : 'your_wifi_ssid',
    'password' : 'your_wifi_password',
    'timezone' : "America/Los_Angeles",  # http://worldtimeapi.org/timezones
    'github_token' : 'your_github_personal_access_token',  # Create at https://github.com/settings/tokens (needs read:user scope)
}
